""" Map leader to space ---------------------
let mapleader="\"
inoremap jk <esc>

""" Plugins  --------------------------------
set surround
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu

""" Idea specific settings ------------------
set ideajoin
" set ideastatusicon=gray
set idearefactormode=keep

""" Mappings --------------------------------
map <leader><leader>w <Plug>(easymotion-s)
map <leader><leader>b <Plug>(easymotion-f)

" map <leader>d <Action>(Debug)
map <leader>rn <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)

" map <leader>s <Action>(SelectInProjectView)
" map <leader>a <Action>(Annotate)
" map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <S-Space> <Action>(GotoNextError)

map <leader>b <Action>(RecentFiles)
map <leader>f <Action>(FileStructurePopup)
map <leader>nf <Action>(SearchEverywhere)
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap <leader>a :action Refactorings.QuickListPopupAction<CR>
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

